---
layout: default
pre-title: Welcome to
title: The Yoga Studio
featured-image: /assets/images/website-yoga-images/jempinis-12-1.jpg
---

<!----------Pulling nav and banner from default-->

<!----------Text and image section --------->

<section>
    <div class="grid grid-cols-2 min-h-90">
        <div class="px-5p flex items-center border border-current">
            <div class="p-5p ">
                <h2 class="p-2p">Duis Aute Irure</h2>
                <p class="p-2p mb-5p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi distinctio fugit explicabo maiores ex exercitationem minus animi numquam et, aut voluptas alias modi perferendis, magnam fugiat dicta soluta rem amet. Eligendi distinctio fugit explicabo maiores ex exercitationem minus animi numquam et, aut voluptas alias modi perferendis, magnam fugiat dicta soluta rem amet.</p>
                <a href="#" class="bg-[#C97324] text-[#FBF2E9] px-8 py-2 m-2p">Sign up</a>
            </div>
        </div>
        <div style="background-image:url(/assets/images/website-yoga-images/jempinis-12-2.jpg)" class="bg-cover bg-top border border-current">
        </div>
    </div>
</section>

<!------ Our classes section ----->

{% include blocks/our-classes-grid.html %}

<!------------ Testimonials ----------->

{% include blocks/testimonials.html %}