<section>
    <div class="grid grid-cols-2 min-h-80">
        <div style="background-image:url(/assets/images/website-yoga-images/jempinis-12-3.jpg)" class="bg-cover bg-center border border-current flex items-center">
            <div class="px-5p text-[#FBF2E9]">
                
                    <h2 class="p-2p">Our classes</h2>
                    <p class="p-2p mb-5p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi quas nesciunt quos eius amet, dolores sequi aspernatur sapiente sed perspiciatis tempora eaque odit quae a accusamus assumenda debitis? Nisi, deleniti. Excepturi quas nesciunt quos eius amet, dolores sequi aspernatur sapiente sed perspiciatis tempora eaque odit quae a accusamus assumenda debitis? Nisi, deleniti.</p>
                    <a href="/classes.html" class="bg-[#C97324] px-8 py-2 m-2p">Find out more</a>
               
            </div>
        </div>
        <div class="grid grid-cols-2">
            <div class="border border-[#C97324] p-5p flex items-end"> <!-------turn into an info pull from each yoga page-->
                <div class="px-2p">
                    <h3>Bikram yoga</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt iusto, nemo, consectetur aut sapiente soluta natus tempore illum nulla magnam iste magni dolorem incidunt repellat et ipsa reiciendis eius blanditiis.</p>
                </div>
            </div>
            <div class="border border-[#C97324] p-5p flex items-end">
                <div class="px-2p">
                    <h3>Mandala yoga</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt iusto, nemo, consectetur aut sapiente soluta natus tempore illum nulla magnam iste magni dolorem incidunt repellat et ipsa reiciendis eius blanditiis.</p>
                </div>
            </div>
            <div class="border border-[#C97324] p-5p flex items-end">
                <div class="px-2p">
                    <h3>Chakra flow</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt iusto, nemo, consectetur aut sapiente soluta natus tempore illum nulla magnam iste magni dolorem incidunt repellat et ipsa reiciendis eius blanditiis.</p>
                </div>
            </div>
            <div class="border border-[#C97324] p-5p flex items-end">
                <div class="px-2p">
                    <h3>Vinyasa flow</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt iusto, nemo, consectetur aut sapiente soluta natus tempore illum nulla magnam iste magni dolorem incidunt repellat et ipsa reiciendis eius blanditiis.</p>
                </div>
            </div>
        </div>
    </div>
</section>