<section>
    <div class="p-5p">
        <h2 class="py-5">Testimonials</h2>
        <div class="grid grid-cols-3 gap-4 text-center">
            <div class="py-5p">
                <img src="/assets/images/website-yoga-images/jempinis-12-10.jpg"  class="aspect-square object-cover">
                <div>
                    <h3>Duis Aute</h4>
                    <hr>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus saepe minima placeat beatae vitae culpa aut itaque tenetur tempora atque, inventore aliquid velit veniam molestias iste iure? Omnis, iusto nam!</p>
                </div>
            </div>
            <div class="py-5p">
                <img src="/assets/images/website-yoga-images/jempinis-12-11.jpg" class="aspect-square object-cover">
                <h3>Duis Aute</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus saepe minima placeat beatae vitae culpa aut itaque tenetur tempora atque, inventore aliquid velit veniam molestias iste iure? Omnis, iusto nam!</p>
            </div>
            <div class="py-5p">
                <img src="/assets/images/website-yoga-images/jempinis-12-12.jpg" class="aspect-square object-cover  ">
                <h3>Duis Aute</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus saepe minima placeat beatae vitae culpa aut itaque tenetur tempora atque, inventore aliquid velit veniam molestias iste iure? Omnis, iusto nam!</p>
            </div>
        </div>
    </div>
</section>