<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">

    <!---------- Google fonts -------->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oranienbaum&family=Poppins&display=swap" rel="stylesheet">

    <!-------jQuery------>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body class="bg-[#FBF2E9] text-[#C97324]">

    {% if page.full-banner=="true" %}

    <!---------Full banner -->
    <header class="text-[#C97324] min-h-100">
        <div style="background-image:url({{page.featured-image}})" class="bg-cover bg-center bg-no-repeat min-h-100">
            <div class="flex justify-between px-5p py-16 mb-8">  
                <div>
                    <a href="/index.html" class="flex items-center font-serif capitalize text-4xl">The Yoga Studio</a>
                </div>
                <div class="flex items-center space-x-8">
                        <a href="/classes.html">Our classes</a>
                        <a href="/schedule.html">Schedule</a>
                        <a href="/contact.html">Contact</a>
                </div>
            </div> 
            <div class="w-50">
                <div class="border-2 border-current w-[24%] mb-10"></div>
                <div class=" py-2p px-5p">
                    <h4>{{page.pre-title}}</h4>
                    <h1>{{page.title}}</h1>
                </div>
            </div>
        </div>
    </header>

    {% else %}
    
    <!--------Half banner ------->
    <header class="text-[#C97324] min-h-100 relative">
        <div class=" ">
            <div class="flex justify-between py-16 px-5p absolute w-full">  
                <div class="">
                    <a href="/index.html" class="flex items-center font-serif capitalize text-4xl">The Yoga Studio</a>
                </div>
                <div class="flex items-center  space-x-8">
                        <a href="/classes.html">Our classes</a>
                        <a href="/schedule.html">Schedule</a>
                        <a href="/contact.html">Contact</a>
                </div>
            </div> 
            <div class="grid grid-cols-3">
                <div class="self-center">
                    <div class="border-2 border-current w-[50%] mb-10"></div>
                    <div class="pl-5p relative left-10 w-screen">
                        <h4>{{page.pre-title}}</h4>
                        <h1>{{page.title}}</h1>
                    </div>
                </div>
                <div style="background-image:url({{page.featured-image}});background-position:{{page.banner-position}}" class="bg-cover bg-no-repeat bg-center col-span-2 min-h-100"></div>
            </div>
        </div>
    </header>

    {% endif %}


    {{content}}

    <footer class="bg-[#C97324] text-[#FBF2E9]">
        <div class="grid grid-cols-5 p-5p">
            <div class="">
                <h4>Lorem ipsum</h4>
                <nav>
                    <a class="block">Dolor sit amet</a>
                    <a class="block">Consecteteur</a>
                    <a class="block">Adipiscing elit</a>
                    <a class="block">Sed do</a>
                </nav>
            </div>
            <div>
                <h4>Lorem ipsum</h4>
                <nav>
                    <a class="block">Dolor sit amet</a>
                    <a class="block">Consecteteur</a>
                    <a class="block">Adipiscing elit</a>
                    <a class="block">Sed do</a>
                </nav>
            </div>
            <div>
                <h4>Lorem ipsum</h4>
                <nav>
                    <a class="block">Dolor sit amet</a>
                    <a class="block">Consecteteur</a>
                    <a class="block">Adipiscing elit</a>
                    <a class="block">Sed do</a>
                </nav>
            </div>
            <div class="col-span-2 flex justify-end">
                <div class="text-right">
                    <h4>Subscribe to our newsletter</h4>
                    <form class="text-right">
                        <input class="w-full bg-[#C97324] text-[#FBF2E9] border border-current" type="email" id="email" name="email">
                        
                        <input class="bg-[#FBF2E9] text-[#C97324] uppercase px-6 py-1 mt-5 ml-auto" type="submit" value="subscribe">
                    </form>
                </div>
            </div>
        </div>
        <div class="px-5p py-2p border-t">
            <a href="#">Terms of use</a>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!------ My own JavaScript ------->
    <script src="/main.js"></script>
</body>
</html>
